main{
    background-image: url('../assets/backgroundPhoto.svg');
    height: 59rem;

    display: flex;
    justify-content: center;
}

.input__container{
    margin-top: 10%;
    gap: .6875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem;

    width: 31.625rem;
    height: 30.5625rem;
    background: rgba(255, 255, 255, 0.95);
}

.input__container h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.75rem;

    color: #000000;
}

.input__container span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    
    color: #000000;

}

input{
    height: 1.5625rem;
    width: 92%;
    padding: 1.0625rem;

    background: #FFFFFF;
    border: .0625rem solid rgba(0, 0, 0, 0.2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;

    color: rgba(0, 0, 0, 0.5);

}

.button__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.login__button{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0000FF;
    width: 26.625rem;
    height: 3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;

    text-align: center;

    color: #FFFFFF;
}

.register__button{
    width: 26.625rem;
    height: 3rem;

    border: .0625rem solid #0000FF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    text-align: center;

    color: #0000FF;
}

